<link rel="stylesheet" href="../styles/style.css" />

<div class="container d-flex">
  <div class="login-box">
    <h2>Sign Up</h2>
    <form id="app-register-form">
      <div class="textbox">
        <input type="login" placeholder="Username" name="login" required />
      </div>
      <div class="textbox">
        <input
          type="password"
          placeholder="Password"
          name="password"
          required
        />
      </div>
      <div class="checkbox"><input id="checkbox" type="checkbox" />Admin</div>
      <button id="app-login-btn" type="submit" class="btn">Register</button>
    </form>
  </div>
</div>
